*{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
html{
  background-color: #111111;
  color: #dfdfdf;
  text-align: center;
  
}
.App {
  text-align: center;
  
}
a{
  color: #dfdfdf;
}
.App-link {
  color: whitesmoke;
}

